//
  user.jade
  variables :
    +userName
//.
extends ../public/layout

block sidebar-extension
  div(class="sidebar-extension")
    ul(class='sidebar-nav') 
      li 
        a(href='/user/create') Create User
      li  
        hr

block content
  div(class="user-home")
    h1(class="user-first-name") #{userFirstName}
    p user name: \#{user.userName}
    p password: \#{security.form.xs}
    p virtual url : \#{user.virtual-url}