//
  user.jade
  variables :
    +userName
//.
extends ../public/layout

block sidebar-extension
  
  ul(class='sidebar-nav') 
    li 
      a(href='/user/create') Create User
    li  
      hr

block content
  div(class='user-heading')
    h1= userName
    ul(class='user-details')
      li
        p User Name :   userName
      li
        p User Password : xxxxxxxxx
