extends layout

block content
  div(class="user-home-page")
    div(class="title")
      h1 \#{User Name Here}
    div(class="overview")
      div(class="todays-spending-limit")
        h3 Todays Spending Limit: 
        p <em> \#{todaysSpendingLimit} </em>
      div(class="spending-until-next-check")
        h3 Spending until next check: 
        p <em> \#{spendingUntilNextCheck} </em>
      div(class="goals")
        h3 Goals: 
        p <em> \#{ enum: [ "On Track" , "Off Track"]}